# eclipse
/.project
/.settings

# do not store the PHPStorm files
/.idea*

/.buildpath

# composer
/composer.phar
/vendor

# code style
/php-cs-fixer.phar

# testing data
/tests/data/keychains/*/*

# always keep .keep files around
!.keep

